{% extends "::base.html.twig" %}

{% block head %}
    <link href="{{ asset("assets/css/frontend.css") }}" rel="stylesheet">

    {# Estilos para Forms #}
    {#<link href="{{ asset('mvp-theme/bower_components/select2/select2.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('mvp-theme/bower_components/jquery-icheck/skins/minimal/_all.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('mvp-theme/bower_components/bootstrap-3-timepicker/css/bootstrap-timepicker.css') }}"#}
    {#rel="stylesheet">#}
    {#<link href="{{ asset('mvp-theme/bower_components/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('mvp-theme/bower_components/bootstrap-jasny/dist/css/jasny-bootstrap.css') }}"#}
    {#rel="stylesheet">#}
    {# fin estilos para forms #}

    {#<link href="{{ asset('mvp-theme/css/mvpready-admin.css') }}" rel="stylesheet">#}
    <link rel="shortcut icon" href="favicon.ico">
{% endblock head %}


{% block body %}
    <div id="wrapper">
        <header class="navbar" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path("homepage") }}" class="navbar-brand navbar-brand-img">
                        <img src="{{ asset('assets/img/logo_frontend.png') }}" width="100%" alt="UTA LOGO ">
                    </a>
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Cambiar Navegacion</span>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>


                {% block navbar %}
                    {% include 'includes/menu_frontent.html.twig' %}
                    {#{% include 'includes/menu.html.twig' %}#}
                {% endblock %}
            </div>

        </header>

        <div class="masthead">
            <div class="container">
                <h1 class="masthead-subtitle">
                    {% block header_empleador %}
                        {{ empleadorActivo() }}
                    {% endblock %}
                </h1>
            </div> <!-- /.container -->

        </div>
        {#{% block topbar %}#}
           {#{% include 'includes/menu.html.twig' %}#}
        {#{% endblock %}#}
        <div class="content">
            {% block content %}
            {% block container %}
            <div class="container">
                {% block contenido %}{% endblock contenido %}
                {% endblock container %}
                {% endblock content %}
            </div>

        </div>
    </div>
    <footer class="footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-3">

                    <div class="heading-block">
                        <h4>UTA Misiones</h4>
                    </div> <!-- /.heading-block -->

                    <p>Es una organizaci贸n representante de los trabajadores de una misma actividad, sector o profesi贸n, que surge en la historia de la humanidad a partir de la uni贸n de los mismos trabajadores en asociaciones para garantizar la defensa de sus intereses comunes, de sus salarios y las condiciones laborales.</p>

                </div> <!-- /.col -->


                <div class="col-sm-3">

                    <div class="heading-block">
                        <h4>Mantenerse en contacto</h4>
                    </div> <!-- /.heading-block -->

                    <ul class="icons-list">
                        <li>
                            <i class="icon-li fa fa-home"></i>
                            Av. Mitre 2266 <br>
                            3300 - Posadas - Misiones
                        </li>

                        <li>
                            <i class="icon-li fa fa-phone"></i>
                            +54 0376 4475212
                        </li>

                        <li>
                            <i class="icon-li fa fa-envelope"></i>
                            <a href="mailto:info@mvpready.com">info@utamnes.com</a>
                        </li>
                        <li>
                            <i class="icon-li fa fa-map-marker"></i>
                            <a href="javascript:;">Ver Mapa</a>
                        </li>
                    </ul>
                </div> <!-- /.col -->


                <div class="col-sm-3">

                    <div class="heading-block">
                        <h4>Conectate Con Nosotros</h4>
                    </div> <!-- /.heading-block -->

                    <ul class="icons-list">

                        <li>
                            <i class="icon-li fa fa-facebook"></i>
                            <a href="javascript:;">Facebook</a>
                        </li>

                        <li>
                            <i class="icon-li fa fa-twitter"></i>
                            <a href="javascript:;">Twitter</a>
                        </li>

                        <li>
                            <i class="icon-li fa fa-soundcloud"></i>
                            <a href="javascipt:;">Sound Cloud</a>
                        </li>

                        <li>
                            <i class="icon-li fa fa-google-plus"></i>
                            <a href="javascript:;">Google Plus</a>
                        </li>
                    </ul>

                </div> <!-- /.col -->


                <div class="col-sm-3">

                    <div class="heading-block">
                        <h4>Mantenete actualizado</h4>
                    </div> <!-- /.heading-block -->

                    <p>Obtenga emails sobre informaciones y reglamentaciones.</p>

                    <form class="form" action="/">

                        <div class="form-group">
                            <!-- <label>Email: <span class="required">*</span></label> -->
                            <input type="text" placeholder="Direcci贸n de correo " required="" value="" name="newsletter_email" id="newsletter_email" class="form-control">
                        </div> <!-- /.form-group -->

                        <div class="form-group">
                            <button class="btn btn-transparent">Subscribe Me</button>
                        </div> <!-- /.form-group -->

                    </form>

                </div> <!-- /.col -->

            </div> <!-- /.row -->

        </div> <!-- /.container -->

    </footer>
    <footer class="copyright">
        <div class="container">
            <p class="pull-left">Copyright &copy; 2015 - RBSoft </p>
        </div>
    </footer>

{% endblock body %}
    {% block js_footer %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Core JS -->
        <script src="{{ asset("assets/js/frontend.js") }}"></script>


        {#<script src="{{ asset("mvp-theme/bower_components/slimscroll/jquery.slimscroll.min.js") }}"></script>#}

        {#<script src="{{ asset("mvp-theme/bower_components/select2/select2.min.js") }}"></script>#}
        {#<script src="{{ asset("mvp-theme/bower_components/jquery-icheck/icheck.min.js") }}"></script>#}
        {#<script src="{{ asset("mvp-theme/bower_components/parsleyjs/dist/parsley.js") }}"></script>#}
        {#<script src="{{ asset("mvp-theme/bower_components/bootstrap-3-timepicker/js/bootstrap-timepicker.js") }}"></script>#}
        {#<script src="{{ asset("mvp-theme/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js") }}"></script>#}



        {#<!-- App JS -->#}
        {#<script src="{{ asset("mvp-theme/global/js/mvpready-core.js") }}"></script>#}
        {#<script src="{{ asset("mvp-theme/global/js/mvpready-helpers.js") }}"></script>#}

        {#<script src="{{ asset("mvp-theme/js/mvpready-admin.js") }}"></script>#}

        {#<script src="{{ asset("mvp-theme/global/js/demos/form-plugins.js") }}"></script>#}



        {#<script>#}

        {#$(function () {#}
        {#$('.datepicker').datepicker({#}
        {#format: "dd/mm/yyyy",#}
        {#autoclose: true,#}
        {#todayHighlight: true#}
        {#});#}
        {#$('.input-group.date').datepicker({#}
        {#format: "dd/mm/yyyy",#}
        {#autoclose: true,#}
        {#todayHighlight: true#}
        {#});#}
        {#})#}

        {#</script>#}
        {% block script_main %}{% endblock %}

    {% endblock js_footer %}