{{ form_start(form) }}
{{ form_errors(form) }}

<fieldset>
    <legend>Periodo</legend>
    <div class="row">
        <div class="col-md-2">
            {{ form_label(form.periodo, 'Periodo:', {'label_attr': {'class': 'control-label' }}) }}
            {{ form_errors(form.periodo) }}
            {{ form_widget(form.periodo, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="col-md-2 col-sm-4">
            {{ form_label(form.nroLiquidacion, 'Número.:', {'label_attr': {'class': 'control-label' }}) }}
            {{ form_errors(form.nroLiquidacion) }}
            {{ form_widget(form.nroLiquidacion, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="col-md-2 col-sm-4">
            {{ form_label(form.tipo, 'Tipo:', {'label_attr': {'class': 'control-label' }}) }}
            {{ form_errors(form.tipo) }}
            {{ form_widget(form.tipo, {'attr': {'class': 'form-control' }}) }}

            <input type="string" id="ipsm_dejosbundle_liquidacion_tiposhow"
                   disabled="disabled"
                   class="form-control"
                   value="{{ entity.tipo == 0 ? 'Original' : entity.tipo ~ 'º Rectificativa' }}">
        </div>
        <div class="col-md-1 col-sm-4 ">
            {{ form_label(form.sac, 'SAC:', {'label_attr': {'class': 'control-label' }}) }}

            {{ form_widget(form.sac, {'attr': {'class': 'form-control' }}) }}

            {{ form_errors(form.sac) }}

        </div>
        <div class="col-md-4">
            {{ form_label(form.descripcion, 'Descripcion:', {'label_attr': {'class': 'control-label' }}) }}
            {{ form_widget(form.descripcion, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="col-sm-1">
            {{ form_label(form.subvencionada, 'Suv.:', {'label_attr': {'class': 'control-label' }}) }}
            {{ form_errors(form.subvencionada) }}
            {{ form_widget(form.subvencionada, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

</fieldset>
<div class="row">
    <div class="col-md-4">
        <fieldset>
            <legend>Jubilación</legend>
            <div class="form-group">
                {{ form_label(form.aporteJubilacion, 'Aporte :', {'label_attr': {'class': 'col-sm-5 control-label' }})
                }}
                <div class="col-sm-7">
                    {{ form_widget(form.aporteJubilacion, {'attr': {'class': 'form-control  text-right' }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.contribucionJubilacion, 'Contribución :', {'label_attr': {'class': 'col-sm-5 control-label' }}
                ) }}
                <div class="col-sm-7">
                    {{ form_widget(form.contribucionJubilacion, {'attr': {'class': 'form-control text-right' }}) }}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Obra Social</legend>
            <div class="form-group">
                {{ form_label(form.aporteObraSoccial, 'Aporte :', {'label_attr': {'class': 'col-sm-5 control-label' }})
                }}
                <div class="col-sm-7">
                    {{ form_widget(form.aporteObraSoccial, {'attr': {'class': 'form-control text-right' }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.contribucionObraSocial, 'Contribución :', {'label_attr': {'class': 'col-sm-5 control-label' }}
                ) }}
                <div class="col-sm-7">
                    {{ form_widget(form.contribucionObraSocial, {'attr': {'class': 'form-control text-right' }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.aporteObraSocialAdh, 'Adherente :', {'label_attr': {'class': 'col-sm-5 control-label' }}
                ) }}
                <div class="col-sm-7">
                    {{ form_widget(form.aporteObraSocialAdh, {'attr': {'class': 'form-control text-right' }}) }}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Servicio Funerario</legend>
            <div class="form-group">
                {{ form_label(form.aporteServiciofunerario, 'Aporte :', {'label_attr': {'class': 'col-sm-5 control-label' }}
                )
                }}
                <div class="col-sm-7">
                    {{ form_widget(form.aporteServiciofunerario, {'attr': {'class': 'form-control text-right' }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.aporteFunerarioAdh, 'Adherente :', {'label_attr': {'class': 'col-sm-5 control-label' }}
                )
                }}
                <div class="col-sm-7">
                    {{ form_widget(form.aporteFunerarioAdh, {'attr': {'class': 'form-control text-right' }}) }}
                </div>
            </div>
        </fieldset>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-sm-5 control-label">Total :</label>

            <div class="col-sm-7">
                    <span class="form-control  text-right">
                         {{ entity.aporteJubilacion + entity.contribucionJubilacion }}
                    </span>

            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-sm-5 control-label">Total :</label>

            <div class="col-sm-7">
                    <span class="form-control text-right">
                         {{ entity.aporteObraSoccial + entity.contribucionObraSocial + entity.aporteObraSocialAdh }}
                    </span>

            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-sm-5 control-label">Total :</label>

            <div class="col-sm-7">
                    <span class="form-control text-right">
                         {{ entity.aporteServiciofunerario + entity.aporteFunerarioAdh }}
                    </span>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <fieldset>
            <legend>Crédito</legend>
            <div class="form-group">
                {{ form_label(form.credito, 'Importe :', {'label_attr': {'class': 'col-sm-2 control-label' } }) }}

                <div class="col-sm-3">
                    {{ form_widget(form.credito, {'attr': {'class': 'form-control text-right' }}) }}
                </div>
                {{ form_label(form.credito, 'Descripción :', {'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                <div class="col-sm-5">
                    {{ form_widget(form.descripcionCredito, {'attr': {'class': 'form-control' } }) }}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Otras Retenciones</legend>
            <div class="form-group">
                {{ form_label( form.otrasRetenciones, 'Importe :', {'label_attr':  {'class': 'col-sm-5 control-label'} } ) }}

                <div class="col-sm-7">
                    {{ form_widget(form.otrasRetenciones, {'attr': {'class': 'form-control text-right' }}) }}
                </div>

            </div>
        </fieldset>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <fieldset>
            <legend></legend>
            <label class="col-sm-6 control-label">Total General:</label>

            <div class="col-sm-6">
                    <span class="form-control text-right">
                         {{ entity.aporteObraSoccial + entity.contribucionObraSocial + entity.aporteObraSocialAdh + entity.aporteJubilacion + entity.contribucionJubilacion + entity.aporteServiciofunerario + entity.aporteFunerarioAdh }}
                    </span>

            </div>

        </fieldset>
    </div>

</div>

<div class="col-sm-offset-2">
    <input type="submit" value="Guardar" class="btn btn-success">
</div>
{{ form_end(form) }}

<style>
    .form-group {
        margin-bottom: 5px !important;

    }

    .form-control {
        height: 28px !important;
        padding: 2px 12px !important;
    }

    .collection td {
        padding: 3px 5px !important;
    }

    legend {
        margin-bottom: 2px !important;
    }

    .table > thead > tr > th {
        padding: 2px !important;
    }
</style>