{% extends '::layout_frontend.html.twig' %}
    {% block id 'Periodo' %}
        {% block contenido -%}
            {% embed '::portlet.html.twig' with {'titulo': 'Rectificar Periodo' } %}
                {% block in_header %}
                    <div class='pull-right'>
                        <div class="row">


                            <a href="{{ path('app_periodo') }}" class="btn btn-sm btn-default">
                                Ir a la lista
                            </a>


                        </div>
                    </div>
                {% endblock %}

                {% block cuerpo %}
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class='alert alert-{{ type }}'>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}


                    <p></p>

                    {#{{ form_start(form) }}#}
                    {#{{ form_widget(form) }}#}
                    {% include 'AppBundle:Periodo:_form.html.twig' with {'form': form} %}

                    <div class="col-sm-offset-2 inner-actions">
                        <button title="Guardar y Salir"
                                class="form-submit-button btn btn-sm btn-default btn-secondary"
                                value="save_and_close" name="save_mode" type="submit">Rectificar<span
                                    class="glyphicon glyphicon-remove"></span></button>
                        <a class="page-close-button btn btn-sm btn-default" href="{{ path('app_periodo') }}">Cerrar
                            <span class="glyphicon glyphicon-remove"></span></a>
                    </div>

                    {{ form_end(form) }}




                {% endblock %}
            {% endembed %}


        {% endblock contenido %}
        {% block script_main %}
            <script>
                var liqs;
                var descripcion;
                $("#appbundle_periodo_vencimiento").change(
                        function () {

                            periodo = this.value;

                            $.ajax(
                                    {
                                        url: '{{ path("rectificar_check") }}',
                                        data: {periodo: periodo},
                                        success: function (data, textStatus, jqXHR) {
                                            liqs = data;
                                            $("#appbundle_periodo_liquidacion").empty();
                                            $("#appbundle_periodo_liquidacion").append('<option value = " " selected></option>');
                                            $("#appbundle_periodo_tipo").val("");
                                            $("#appbundle_periodo_descripcion").val("");
                                            $.each(liqs, function (idx, obj) {
//                                                if(liqs.length -1  == idx )
//                                                    $("#appbundle_periodo_liquidacion").val(obj.liquidacion);
//                                                else
                                                $("#appbundle_periodo_liquidacion").append('<option selected="">' + obj.liquidacion +'</option>');
//                                                $("#appbundle_periodo_descripcion").val(obj.descripcion);

                                            });


                                        },
                                        dataType: 'JSON',
                                        error: function (data, textStatus, jqXHR) {

                                        }

                                    }
                            );
                        }
                );
                $("#appbundle_periodo_liquidacion").change(
                        function () {
                            liquidacion = this.value;
                            periodo = $("#appbundle_periodo_vencimiento").val();

                            $.ajax(
                                    {

                                        url: '{{ path("descripcion_check") }}',
                                        data: {liquidacion: liquidacion , periodo: periodo},
                                        success: function (data,txtStatus,jqXHR){
                                            $("#appbundle_periodo_liquidacion").val(data.liquidacion);

                                            $("#appbundle_periodo_tipo").val(data.tipo);
//                                            alert(data.tipo);
                                            $("#appbundle_periodo_descripcion").val(data.descripcion);

                                        },
                                        dataType: 'JSON',
                                        error: function(data, txtStatus, jqXHR){

                                        }
                                    }

                            );
//                            alert('sgsgdfsgsdf');

                        }
                );
            </script>
        {% endblock script_main %}
