{% import ':includes:gen_menu.html.twig' as menu %}

<div class="mainnav ">
    <div class="container">

        <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
            <span class="sr-only">Cambiar Navegacion</span>
            <i class="fa fa-bars"></i>
        </a>

        <nav class="collapse mainnav-collapse" role="navigation">

            <form class="mainnav-form" role="search">
                <input type="text" class="form-control input-md mainnav-search-query" placeholder="Búsqueda">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>


            {{ menu.menuItem('Inicio',path(home) ) }}{{ menu.finmenuItem() }}


            {% if home == "home_admin" %}
                {{ menu.menu('Tablas','#') }}
                    {{ menu.item('Empleadores', 'fa-dashboard', path("admin_empleador") ) }}
                    {{ menu.item('Conceptos', 'fa-dashboard', path("admin_concepto") ) }}
                    {{ menu.item('Vencimientos', 'fa-dashboard', path("admin_vencimiento") ) }}

                {{ menu.finmenu() }}
                {{ menu.menu('Seguridad','#') }}
                    {{ menu.item('Usuarios de UTA', 'fa-dashboard', path("admin_usuario") ) }}
                {{ menu.finmenu() }}

            {% elseif home == "homepage" %}
                {{ menu.menuItem('Trabajadores', path("app_trabajador") ) }}{{ menu.finmenuItem() }}

                {{ menu.menu('Liquidación','#') }}
                    {{ menu.item('Periodos', 'fa-dashboard', path("app_periodo") ) }}
                    {{ menu.item('Remnuerativos del periodo', 'fa-dashboard', path("app_periodo") ) }}
                    {{ menu.item('Importar desde SICOSS', 'fa-dashboard', path("app_periodo") ) }}
                    {{ menu.item('Liquidar', 'fa-dashboard', path("app_periodo") ) }}

                {{ menu.finmenu() }}
                {{ menu.menuItem('Cuenta Correinte', path("app_trabajador") ) }}{{ menu.finmenuItem() }}
            {% endif %}




        </nav>

    </div>
    <!-- /.container -->
</div>


{#<a href="{{ logout_path }}">Salir</a>#}

